.header-menu{
    &.menu-active{
        visibility: visible;
    }
    @media (min-width: $resolution-small) {
        visibility: hidden;
        position: absolute;
        width: 180px;
        background-color: #F5F5F5;
        left: calc(50% - 35px);
        top: 60px;
    }
    @media (min-width: $resolution-medium) {
        visibility: visible;
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        @include flex(center, center);
        @include content-container($content-container-max);
    }

    &__item{
        list-style-type: none;

        @media (min-width: $resolution-small) {
            height: calc(100% / 7);
            display: flex;
            align-items: center;
        }
        @media (min-width: $resolution-medium) {
            margin: 0 15px 0 15px;
        }
        @media (min-width: $resolution-large) {
            margin: 0 35px 0 35px;
        }
    }
    &__link{
        color: $menu-text-color;
        text-transform: uppercase;
        font-size: 11px;
        line-height: 30px;
        letter-spacing: 1.1px;
        width: 100%;
        height: 100%;

        @media (min-width: $resolution-small) {
            padding-left: 17px;

            &:hover{
                color: #57A4A4;
                background-color: #E5E5E5;
            }
        }
        @media (min-width: $resolution-medium) {
            padding-left: 0;
            &:hover{
                color: #57A4A4;
                background-color: transparent;
            }
        }
    }
}
