.section-header{
    color: $section-header-color;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;

    @media (min-width: $resolution-small) {
        font-size: 14px;
    }
    @media (min-width: $resolution-medium) {
        font-size: 16px;
    }

    &--footer-color{
        color: $section-footer-header-color;
    }
    &--footer-align-center{
        text-align: center;
    }
}