@mixin font($font_name, $file_name, $weight, $style) {
    @font-face { 
        font-family: $font_name; 
        font-display: swap; 
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2"); 
        font-weight: #{$weight}; font-style: #{$style}; 
    }
}

@mixin flex($justify: unset, $align: unset, $direction: row){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin content-container($width){
    width: $width - 30px;
    margin: auto;
}

@mixin content-full-pad15{
    width: calc(100% - 30px);
    margin: auto;
}