// Resolution values
$resolution-small: 320px;
$resolution-medium: 768px;
$resolution-large: 1200px;
$content-container-max: 1200px;

// Color values
$menu-text-color: #4E4E4E;
$section-header-color: #4E4E4E;
$section-footer-header-color: white;
$content-text-color: #5C5C5C;
$descreption-text-color: #7C7C7C;
$text-footer-color: #B9B9B9;