<footer class="footer">
    <div class="footer__container">
        <h2 class="section-header section-header--footer-color section-header--footer-align-center">- get in touch with us -</h2>
        <p class="footer__text">
            Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper
            odio. <span class="footer__text-fragment">Curabitur blandit tempus porttitor vollisky inceptos
            mollisestor.</span>
        </p>
        <div class="footer-icons-container">
            <a class="footer-icons-container__link" href="#">
                <img class="icons-container__img" src="img/footer-icons/RSS.png" alt="rss">
            </a>
            <a class="footer-icons-container__link" href="#">
                <img class="icons-container__img" src="img/footer-icons/Facebook.png" alt="facebook">
            </a>
            <a class="footer-icons-container__link" href="#">
                <img class="icons-container__img" src="img/footer-icons/Twitter.png" alt="twitter">
            </a>
            <a class="footer-icons-container__link" href="#">
                <img class="icons-container__img" src="img/footer-icons/Dribbble.png" alt="dribbble">
            </a>
            <a class="footer-icons-container__link" href="#">
                <img class="icons-container__img" src="img/footer-icons/Pinterest.png" alt="pinterest">
            </a>
        </div>
        <div class="footer-contacts-container">
            <p class="footer-contacts-container__text">
                Moonshine St. 14-05 Light City <span class="footer-contacts-container__separator">/</span>
            </p>
            <p class="footer-contacts-container__text">
                T. +00 (123) 456 78 90 <span class="footer-contacts-container__separator">/</span>
            </p>
            <p class="footer-contacts-container__text">
                first.last@email.com
            </p>
        </div>
    </div>
</footer>