<header class="header">
    <nav>
        <button class="menu-btn"></button>
        <menu class="header-menu">
            <li class="header-menu__item"><a class="header-menu__link" href="#">home</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">about us</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">our journal</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">projects</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">news</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">features</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">contact</a></li>
        </menu>
    </nav>
</header>