<section class="instaphoto-section">
    <div class="instaphoto">
        <div class="instaphoto__header-container">
            <h2 class="section-header">- latest instagram shots</h2>
            <a class="instaphoto__instalink" href="#">go to our instagram page -</a>
        </div>

        <div class="photo-container">
            <img class="photo-container__photo-item" src="img/instagram-shots/shot1.jpg" alt="instaphoto">
            <img class="photo-container__photo-item photo-container__photo-item2" src="img/instagram-shots/shot2.jpg" alt="instaphoto">
            <img class="photo-container__photo-item photo-container__photo-item3" src="img/instagram-shots/shot3.jpg" alt="instaphoto">
            <img class="photo-container__photo-item photo-container__photo-item4" src="img/instagram-shots/shot4.jpg" alt="instaphoto">
        </div>
    </div>
</section>