<section class="posts">
    <h2 class="section-header">- our recent posts</h2>
    <div class="posts-container">
        <a class="post-item" href="#">
            <img class="post-item__img" src="img/recent-posts/post1.jpg" alt="post-picture">
            <div class="post-item__text-container">
                <p class="post-item__header">Aenean Adipiscing Etiam Vestibulum</p>
                <p class="post-item__info">Photography, Journal<span class="post-item__info-separator">/</span>9 Comments</p>
                <p class="post-item__description">Etiam porta sem malesuada euismod. Aenean leo quam.<br/>Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
        </a>
        <a class="post-item" href="#">
            <img class="post-item__img" src="img/recent-posts/post2.jpg" alt="post-picture">
            <div class="post-item__text-container">
                <p class="post-item__header">Aenean Adipiscing Etiam Vestibulum</p>
                <p class="post-item__info">Photography, Journal<span class="post-item__info-separator">/</span>9 Comments</p>
                <p class="post-item__description">Etiam porta sem malesuada euismod. Aenean leo quam.<br/>Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
        </a>
        <a class="post-item" href="#">
            <img class="post-item__img" src="img/recent-posts/post3.jpg" alt="post-picture">
            <div class="post-item__text-container">
                <p class="post-item__header">Aenean Adipiscing Etiam Vestibulum</p>
                <p class="post-item__info">Photography, Journal<span class="post-item__info-separator">/</span>9 Comments</p>
                <p class="post-item__description">Etiam porta sem malesuada euismod. Aenean leo quam.<br/>Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
        </a>
        <a class="post-item" href="#">
            <img class="post-item__img" src="img/recent-posts/post4.jpg" alt="post-picture">
            <div class="post-item__text-container">
                <p class="post-item__header">Aenean Adipiscing Etiam Vestibulum</p>
                <p class="post-item__info">Photography, Journal<span class="post-item__info-separator">/</span>9 Comments</p>
                <p class="post-item__description">Etiam porta sem malesuada euismod. Aenean leo quam.<br/>Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
        </a>
    </div>
</section>