@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html, body{
    height: 100%;
    margin: 0;
}
body{
    background-image: url(../img/page-background.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
}
.bright-theme{
    background-image: url(../img/page-background2.jpg);
    color: black;
}
a{
    text-decoration: none;
    color: white;
    display: block;
}
.bright-theme a{
    color: black;
}
.page-grid{
    height: 100%;
    display: grid;
    grid-template: auto 1fr auto / auto;
    justify-content: center;
}
.header{
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.logo-container{
    display: flex;
}
/* .bright-theme */

.logo-container::before {
    content: url(../img/site_logo.png);
    width: 53px;
    height: 47px;
    display: block;
}
.bright-theme .logo-container::before {
    content: url(../img/site_logo2.png);
}
.logo-link{
    display: block;
}
.logo-text{
    margin-left: 8px;
    margin-top: 3px;
    text-transform: uppercase;
    font-weight: 700;
}
.logo-text-large{
    font-size: 29px;
}
.logo-link:hover .logo-text{
    color: #f26522;
}
.logo-link:hover .logo-container::before {
    content: url(../img/site_logo_hover.png);
}
.contacts-container{
    font-size: 21px;
    text-align: right;
}
.contacts-container :last-child{
    margin-top: 20px;
}
.contacts-container a:hover{
    color: #f26522;
}
.main{
    margin-top: 22px;
    display: grid;
    grid-template: repeat(2, 260px) / repeat(3, auto);
    grid-column-gap: 60px;
    grid-row-gap: 35px;
}
.category-item{
    width: 300px;
    height: 260px;
    text-align: center;

}
.category-item-link:hover .category-item-header{
    color: #f26522; 
}
.bright-theme .category-item-link:hover .category-item-header{
    color: grey; 
}
.category-item-link:hover .category-item-description{
    visibility: visible;
    bottom: 0px;
}
.category-item-img-container{
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.category-item-img{
    display: block;
    width: 296px;
    height: 216px;
    border-left: 2px solid;
    border-right: 2px solid;
    border-image-source: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(255, 255, 255));
    border-image-slice: 1;
}
.bright-theme .category-item-img{
    border-image-source: linear-gradient(0deg, rgba(255, 255, 255, 1), rgb(0, 0, 0));
}
.category-item-description{
    width: 100%;
    height: 55px;
    background-color: #F26522;
    position: absolute;
    bottom: -55px;
    left: 0px;
    box-sizing: border-box;
    display: flex;
    padding: 7px 16px 12px 16px;
    justify-content: space-between;
    align-items: flex-end;
    visibility: hidden;
    transition: 0.5s;
}
.bright-theme .category-item-description{
    background-color: darkslategray;
}
.text-from{
    font-size: 10px;
    text-align: left;
}
.bright-theme .text-from{
    color:darkorange;
}
.bright-theme .text-price{
    color: darkorange;
}
.item-details-container{
    font-size: 14px;
    display: flex;
}
.bright-theme .item-details-container{
    color: darkorange;
}
.item-details-container::after {
    float: right;
    margin-left: 18px;
    content: url(../img/right-arrow.png);
}
.footer{
    height: 100px;
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 12px;
}
.theme-button{
    margin-bottom: 20px;
}
