.inputDiv {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

.circle {
    margin: 10px;
    border: 1px solid black;
    float: left;
}