.footer{
    background-color: black;
    box-sizing: border-box;
    
    @media (min-width: $resolution-small) {
        padding-top: 38px;
        height: 315px;
    }
    @media (min-width: $resolution-medium) {
        padding-top: 55px;
        height: 330px;
    }
    @media (min-width: $resolution-large) {
        padding-top: 65px;
        height: 355px;
    }

    &__container{
        margin: auto;
    
        @media (min-width: $resolution-small) {
            width: 300px;
        }
        @media (min-width: $resolution-medium) {
            width: 685px;
        }
    }

    &__text{
        color: $text-footer-color;
        text-align: center;
        
        @media (min-width: $resolution-small) {
            margin-top: 8px;
            font-size: 12px;
            line-height: 20px;
        }
        @media (min-width: $resolution-medium) {
            margin-top: 22px;
            font-size: 16px;
            line-height: 28px;
        }
    }

    &__text-fragment{
        display: none;

        @media (min-width: $resolution-medium){
            display: inline;
        }
    }
}

.footer-icons-container{
    @include flex($justify: center);

    @media (min-width: $resolution-small) {
        margin-top: 20px;
    }
    @media (min-width: $resolution-medium) {
        margin-top: 30px;
    }

    &__link{
       margin: 0 3px 0 3px; 
    }
}

.footer-contacts-container{
    @include flex(center);
    flex-wrap: wrap;

    @media (min-width: $resolution-small) {
        margin-top: 25px;
    }
    @media (min-width: $resolution-medium) {
        margin-top: 35px;
    }

    &__text{
        color: $text-footer-color;
        margin: 0 5px 0 5px;
        
        @media (min-width: $resolution-small) {
            margin-bottom: 15px;
            font-size: 14px;
        }
        @media (min-width: $resolution-medium) {
            margin-bottom: 0;
            font-size: 16px;
        }
    }
    
    &__separator{
        margin-left: 10px;
    }
}

