.header{
    @include flex(center, center);

    // @media (min-width: $resolution-small) {
    //     height: 83px;
    //     @include content-full-pad15;
    //     justify-content: flex-end;
    // }
    // @media (min-width: $resolution-medium) {
    //     height: 118px;
    //     justify-content: center;
    // }
    // @media (min-width: $resolution-large) {
    //     @include content-container($content-container-max);
    // }

    @media (min-width: $resolution-small) {
        height: 83px;
        justify-content: flex-end;
        @include content-container($resolution-small);
    }
    @media (min-width: $resolution-medium) {
        height: 118px;
        justify-content: center;
        @include content-container($resolution-medium);
    }
    @media (min-width: $resolution-large) {
        @include content-container($content-container-max);
    }
}

.menu-btn{
    width: 44px;
    height: 37px;
    background-color: #000;
    outline: none;
    border: none;
    cursor: pointer;
    background-image: url(../img/menu-open-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    @media (min-width: 768px) {
        display: none;
    }

    &.active{
        background-image: url(../img/menu-close-icon.png);
    }
}