.instaphoto-section{
    @media (min-width: $resolution-medium) {
        background-color: rgba($color: #000000, $alpha: 0.03);
    }
}
.instaphoto{
    padding-top: 38px;
    padding-bottom: 40px;

    @media (min-width: $resolution-small) {
        @include content-container($resolution-small);
    }
    @media (min-width: $resolution-medium) {
        @include content-container($resolution-medium);
    }
    @media (min-width: $resolution-large) {
        @include content-container($content-container-max);
    }

    &__header-container{
        margin-bottom: 13px;
        @include flex(space-between, center);

        @media (min-width: $resolution-medium) {
            margin-bottom: 35px;
        }
        @media (min-width: $resolution-large) {
            margin-bottom: 24px;
        }
    }

    &__instalink{
        display: none;
        font-size: 13px;
        font-weight: 700;
        color: $section-header-color;
        text-transform: uppercase;

        @media (min-width: $resolution-medium) {
            display: block;
        }
    }
}

.photo-container{
    display: flex;
    justify-content: space-between;

    &__photo-item{
        width: 290px;

        @media (min-width: $resolution-medium){
            width: 239px;
        }
        @media (min-width: $resolution-large){
            width: 285px;
        }
    }
    &__photo-item2{
        display: none;
        @media (min-width: $resolution-medium){
            display: block;
        }
    }
    &__photo-item3{
        display: none;
        @media (min-width: $resolution-medium){
            display: block;
        }
    }
    &__photo-item4{
        display: none;
        @media (min-width: $resolution-large){
            display: block;
        }
    }
}
