.main-picture{
    @media (min-width: $resolution-small) {
        @include content-container($resolution-small);
    }
    @media (min-width: $resolution-medium) {
        @include content-container($resolution-medium);
    }
    @media (min-width: $resolution-large) {
        @include content-container($content-container-max);
    }

    &__img{
        width: 100%;
    }
}