.posts{
    padding-top: 38px;
    padding-bottom: 70px;

    @media (min-width: $resolution-small) {
        @include content-container($resolution-small);
    }
    @media (min-width: $resolution-medium) {
        padding-top: 56px;
        @include content-container($resolution-medium);
    }
    @media (min-width: $resolution-large) {
        @include content-container($content-container-max);
    }
}

.posts-container{
    @include flex(left);
    flex-wrap: wrap;

    .post-item{
        display: flex;
        flex-wrap: wrap;
        margin-top: 28px;

        @media (min-width: $resolution-medium) {
            margin-top: 30px;
            width: 585px;
        }

        &__img{
            width: 160px;
            height: 140px;
        }

        &__text-container{
            width: 100%;
            margin-top: 10px;

            @media (min-width: $resolution-medium) {
                width: auto;
                margin-left: 20px;
            }
        }
        
        &__header{
            font-size: 14px;
            font-weight: 700;
            color: $section-header-color;

            @media (min-width: $resolution-medium) {
                font-size: 16px;
            }
        }

        &__info{
            font-size: 11px;
            font-weight: 400;
            color: $descreption-text-color;
            margin-top: 10px;

            @media (min-width: $resolution-medium) {
                font-size: 12px;
            }
        }

        &__info-separator{
            margin: 0 10px 0 10px;
        }

        &__description{
            margin-top: 13px;
            font-size: 14px;
            color: $content-text-color;
            line-height: 26px;
            display: none;

            @media (min-width: $resolution-medium) {
                display: block;
            }
        }
    }
}